/*Styling the body */
body {
    background-image: url("background.jpg");
}

/*Styling the title box */
#titleBox {
    background-color: orange;
    height: 75px;
}

/*Styling the title text */
#titleText {
    color: white;
}

/*Styling the box with the rules */
#ruleBox {
    background-color: peachpuff;
}

/*Styling the text explaining the rules */
.ruleText {
    color: green;
}

/*Styling the applies to both boxes */
.scoreBox {
    height: 100px;
}

/*Styling the goal box */
#goalScoreBox{
    background-color: darkgreen;
}

/*Styling the goal score number */
.goalScore {
    color: white;
}

/*Styles the winLossBox */
#winLossBox {
    background-color: teal;
}

/*Styles the win/loos text */
.winLossText{
    color: white;
}

/*Styles that apply to all crystal buttons */
.crystalButtons {
    background-color: blue;
    height: 50px;
    margin-right: 5px;
}

/*Styles both boxes at the bottom of the page */
.userBox {
    background-color: red;
    color: white;
}